<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f7f7f7;
        }

        .form {
            background-color: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            width: 300px;
            max-width: 90%;
            text-align: center;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        label {
            display: block;
            text-align: left;
            margin-bottom: 8px;
            color: #555;
            font-weight: bold;
        }

        input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        input:focus {
            outline: none;
            border-color: #007bff;
        }

        button {
            width: calc(100% - 20px);
            padding: 10px;
            background-color: #3cc6e8;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #33a6c1;
        }
    </style>

</head>
<body>
    <div class="form">
        <h2>Signup</h2>
        <form method="post" action="/users">
            <label for="username">Enter Username</label>
            <input type="text" placeholder="john99" name="username" id="username" required/>

            <label for="email">Enter Email</label>
            <input type="text" placeholder="xyz@gmail.com" name="email" id="email" required/>

            <label for="password">Enter Password</label>
            <input type="password" placeholder="xxxx" name="password" id="password" required/>

            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
